@using SistemaDeportivo.Clases
@model DeporteCLS

@{
    ViewData["Title"] = "AlumnoInscrito";
    ViewData["Usuario"] = new General().Usuario;
    ViewData["Deporte"] = new General().Deporte;
    ViewData["Rol"] = new General().Rol;
}

<h1>Bienvenido @ViewData["Usuario"]!</h1>
@if(ViewData["Deporte"] != null)
{
    <h3>Estas inscrito en @ViewData["Deporte"]</h3>
}else
{
    <h3>Tú inscripcion ha terminado.</h3>
}
<p>
    Para poder ingresar necesitaras tener una credencial, 
    la cual podrás adquirir en el siguiente <a asp-action="Credencial" target="_blank">enlace</a>    
</p>

<table class="table table-responsive table-striped col-12">
<thead>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(m => m.IdDeporte)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(m => m.NombreProfesor)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(m => m.NombreDeporte)
        </th>        
        <th>
            Dar deBaja
        </th>
    </tr>
</thead>
<tbody>
@foreach (var item in ViewBag.Lista)
{
    <tr>
        <th scope="row">@item.IdDeporte</th>
        <td>@item.NombreProfesor</td>
        <td>@item.NombreDeporte</td>
        <td>
            <button class="btn btn-danger" onclick="Solicitud(@item.IdDeporte)">Baja</button>
        </td>
    </tr>
}
</tbody>
</table>

<form asp-action="Solicitud" asp-controller="Inicio" method="post" id="frmSolicitar">
    <input type="hidden" id="txtDeporte" name="id"/>
</form>

<script>
function Solicitud(id) { 
    document.getElementById("txtDeporte").value = id; 
    frmSolicitar.submit();
}

</script>