@using SistemaDeportivo.Clases
@model Alumnos
@{
    ViewData["Title"] = "Profesor";
    ViewData["Usuario"] = new General().Usuario;
    ViewData["Rol"] = new General().Rol;
}

<h1>Bienvenido @ViewData["Usuario"]</h1>
<div class="row">
    
<table class="table table-responsive table-striped col-12">
<thead>
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(m => m.IdAlumno)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(m => m.Nombre)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(m => m.Edad)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(m => m.Sexo)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(m => m.Correo)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(m => m.Celular)
        </th>
        <th>
            Eliminar
        </th>
    </tr>
</thead>
<tbody>
@foreach (var item in ViewBag.Lista)
{
    <tr>
        <th scope="row">@item.IdAlumno</th>
        <td>@item.Nombre @item.ApellidoPat @item.ApellidoMat</td>
        <td>@item.Edad</td>
        <td>@item.Sexo</td>
        <td>@item.Correo</td>
        <td>@item.Celular</td>
                    <td>
                        <button class="btn btn-danger" onclick="Eliminar(@item.IdAlumno)">Eliminar</button>
                    </td>
    </tr>
}
</tbody>
</table>
</div>

<form asp-action="EliminarAlumno" asp-controller="Inicio" method="post" id="frmEliminar">
    <input type="hidden" id="IdEliminar" />
</form>

<script>
function Eliminar(id) 
{ 
    document.getElementById("IdEliminar").value = id;
    frmEliminar.submit();
}

</script>